{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/proposal-class-properties"
  ],
  "ignore": [
    "**/__tests__",
    "**/*.test.js",
    "**/__snapshots__"
  ],
  "comments": false
}