.Rproj.user
.Rhistory
.RData
.Ruserdata
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dft*
dft*
/notes
tiles

# xls by accident
*.xls*
*.Rds

lad.json

layik*
.ipynb_checkpoints/

spenser.*
quant*
*.geojson

/data
/dist
/R
/public
notes
/.github
